{% extends "::layout.html.twig" %}

{% block body %}

   <section>
   		<article>
   			<h1>La premiere applicaton eco</h1>
   			<p>Lorem ipsum sit amet, Game adipiscing elit. Viva quis euismod dui tempus. Mauris iaculis neque neque, 2 450 membres tincidunt Proin diam sapien, L’ardeche id metus ac mus id felis urnaUt mattis feugiat</p>
   			<ul>
   				<li>Acceder au Jeu</li>
   				<li>Telecharger l’application</li>
   			</ul>
   		</article>
   </section>

{% endblock %}