<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Go Mobility{% endblock %}</title>
        <meta name="description" content="{% block meta %}{% endblock %}">
        
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {% stylesheets output="css/style.css" filter="less"
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                "@GoMobilitySiteBundle/Resources/public/less/base.less"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascript %} {% endblock %}
    </head>
    <body>

        <header>
            {% block navigation %}
                {% include "GoMobilitySiteBundle:Common:navigation.html.twig" %}
            {% endblock %}
        </header>

        {% block body %}{% endblock %}

        <aside>
            {% block relatedInformations %}
                {% include "GoMobilitySiteBundle:Common:related-informations.html.twig" %}
            {% endblock %}
        </aside>

        <footer>
            {% block footer %}
                {% include "GoMobilitySiteBundle:Common:footer.html.twig" %}
            {% endblock %}
        </footer>

    </body>
</html>
