<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Go Mobility{% endblock %}</title>
        <meta name="description" content="{% block meta %}{% endblock %}">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900|Montserrat:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {% stylesheets output="css/style.css" filter="less, cssrewrite"
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                'bundles/gomobilitysite/less/base.less'
            %}

                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        {% block javascript %} {% endblock %}
    </head>
    <body>

        <header>
            {% block navigation %}
                {% include "GoMobilitySiteBundle:Common:navigation.html.twig" %}
            {% endblock %}
        </header>

        {% block body %}{% endblock %}

        <footer>
            {% block footer %}
                {% include "GoMobilitySiteBundle:Common:footer.html.twig" %}
            {% endblock %}
        </footer>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
          function initialize() {
            var mapOptions = {
              center: new google.maps.LatLng(44.8152705, 4.3737854),
              zoom: 10
            };
            var map = new google.maps.Map(document.getElementById("map"),
                mapOptions);
            }
            google.maps.event.addDomListener(window, 'load', initialize);

            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </body>
</html>
