{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
	<div class="content">
		<div class="content_content nb_elmt_two">
			<ul>
				<li class="acteur">
					<h4>eco-acteurs</h4>
					<p>1313</p>
				</li>
				<li class="parcours">
					<h4>Parcours</h4>
					<p>12302</p>
				</li>
			</ul>
		</div>
		<div class="content_content nb_elmt_three">
			<h4>Repartition des parcours</h4>
			<ul>
				<li class="sport border">
					<div class="dia">
						<div class="dia-sk">
							<h5>10%</h5>
							<div class="dia-ct"></div>
						</div>
					</div>
					<p>Sport</p>
				</li>
				<li class="tourisme border">
					<div class="dia">
						<div class="dia-sk">
							<h5>70%</h5>
							<div class="dia-ct"></div>
						</div>
					</div>
					<p>Tourisme</p>
				</li>
				<li class="gotowork">
					<div class="dia">
						<div class="dia-sk">
							<h5>20%</h5>
							<div class="dia-ct"></div>
						</div>
					</div>
					<p>Go to work</p>
				</li>
			</ul>
		</div>
		<div class="content_content nb_elmt_three bst_eco_acteur">
			<h4>Meilleur eco-acteur</h4>
			<ul>
				<li class="bst_pict">
					 <img src="{{asset('bundles/gomobilityadmin/images/usr_1.jpg')}}">
				</li>
				<li>
					<ul class="list_bst_info">
						<li class="bst_name"><a href="#">Cody <span>Lambert</span></a></li>
						<li><a href="#">13 parcours</a></li>
						<li>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam risus eget arcu suscipit maximus. Nulla laoreet condimentum interdum. Nulla facilisis mauris non pharetra ullamcorper."</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}