<ul>
	<li><a href="#"><img src="{{asset('bundles/gomobilitysite/images/icone-facebook.png')}}"></a></li>
	<li><a href="https://twitter.com/gomobility_" target="_blank"><img src="{{asset('bundles/gomobilitysite/images/icone-twitter.png')}}"></a></li>
	<li><a href="#"><img src="{{asset('bundles/gomobilitysite/images/icone-google+.png')}}"></a></li>
</ul>
<p>© <span>2014</span> GoMobility | <span>201</span>, Rue Saint-Martin <span>75003</span> Paris | Tél : <span>+33 (0) 6 59 92 42 59</span></p>