<div class="last-article">
	<h3>Derniers articles</h3>
	<section>
		<article>
			<img src="{{asset('bundles/gomobilitysite/images/article-1.jpg')}}">
			<div class="content-article">
				<h4>canoe ardechois</h4>
				<p>Maecenas fermentum sodales consectetur. Pellentesque id mattis sapien.</p>
				<p><i>le 1er aout 2014</i></p>
			</div>
		</article>
		<article>
			<img src="{{asset('bundles/gomobilitysite/images/article-2.jpg')}}">
			<div class="content-article">
				<h4>canoe ardechois</h4>
				<p>Maecenas fermentum sodales consectetur. Pellentesque id mattis sapien.</p>
				<p><i>le 1er aout 2014</i></p>
			</div>
		</article>
	</section>
	<a href="#"class="bt_more">+</a>
</div>
