<nav>
    <ul>
        <li><a href="{{path('go_mobility_site_homepage')}}">Home</a></li>
        <li><a href="{{path('go_mobility_site_projet')}}">Projet</a></li>
        <li><a href="{{path('go_mobility_site_experiences')}}">Experiences</a></li>
        <li><a href="{{path('go_mobility_site_actualites')}}">Actualités</a></li>
    </ul>
</nav>