{% extends "::layout.html.twig" %}

{% block body %}
	<div class="article_bg"></div>
	<div class="content_blog content_blog_article">
		<div class="content_content_article">
    		<h1>Actualite n°{{id}}</h1>
    	</div>
    </div>

{% endblock %}