body{
	.user_profil{
		text-align: center;
		h4{
			margin-left: -57.5px;
		}
		img{
			.border-radius(200px);
			margin-top: 50px
		}
		.content-user{
			padding: 15px 200px 50px;
			font-size: 18px;
			table{
				tr:nth-child(even){
					background: #ffffff;
				}
			}
		}
	}
}
