header{	
	position: fixed;
	min-width: 1250px;
	width: 100%;
	z-index: 4000;
	height:60px;
	background:@GmBlue;
	.box-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
	.logo{
		text-align: left;
		padding: 14px 0 0 20px;
		width: 20%;
		float: left;
	}
	.opt{
		float: right;
		line-height: 60px;
		padding: 0 21.5px;
		display: table-cell;
		vertical-align: middle;
		cursor: pointer;
	}
	.opt:hover{
		background: rgba(0,0,0,0.2);
	}
}
nav{
	position: fixed;
	background: @White;
	height:100%;
	ul{
		padding: 60px 0;
		li{
			cursor:pointer;
			font-size: 22px;
			list-style-type: none;
			a{
				padding: 35px 45px;
				color: @GaDarkGray;
				display: block;
				img{
					width: 32px;
					margin-right: 15px;
					position: relative;
					bottom: 4px;
					opacity: 0.5;
				}
			}
			a:hover{
				color: @GaDarkGray;
				text-decoration: none;
			}
			.active{
				font-weight: 800;
				background: @GaGray;
				img{
					opacity: 1;
				}
			}
		}
		li:hover{
			background: #f2f2f2;
		}
		.active:hover{
			background: @GaGray;
		}
	}
}