/* COLOR */

/*bleu*/
@GmBlue 		: #7dd1eb;

/*gris*/
@GaGray 		: #e5e5e5;
@GaDarkGray		: #4f5050;
@White 			: #ffffff;

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}