{% extends "::layout.html.twig" %}

{% block body %}
	<div class="content">
	    <div class="presentation">
	    	<div class="wrapper">
		    	<ul class="slide_first_presentation">
		    		<li class="presentation_first_part slide_content">
				    	<div class="slide_phone">
				    		<img src="{{asset('bundles/gomobilitysite/images/bg_slide_phone.png')}}">
				    		<div id="slider">
					    		<ul>
					    			<li><img src="{{asset('bundles/gomobilitysite/images/slide_phone_1.png')}}"></li>
					    			<li><img src="{{asset('bundles/gomobilitysite/images/slide_phone_2.png')}}"></li>
					    			<li><img src="{{asset('bundles/gomobilitysite/images/slide_phone_3.png')}}"></li>
					    		</ul>
				    		</div>
				    	</div>
				    	<div class="slide_control">
				    		<ul>
				    		</ul>
				    	</div>
		    		</li>
		    		<li class="presentation_second_part slide_content">
		    			<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
						<h6>Avec Android™ 4.4, KitKat®</h6>

						<p>Vivamus in quam id quam pellentesque facilisis. Etiam sagittis nunc at lorem vestibulum consectetur. Quisque pellentesque bibendum semper. Vestibulum ultrices odio a sem suscipit, in porta mauris blandit. Mauris vehicula neque urna, eget auctor libero pretium nec</p>

						<p>Nullam congue est id nulla fringilla, id ullamcorper turpis fringilla. Duis sit amet consectetur enim. Ut laoreet sagittis magna vitae efficitur. Net lacinia leo. Et<p>

						<p><a href="#">La telecherger des maintenant</a></p>
		    		</li>
		    	</ul>
	    	</div>
	    	<div class="bg_paysage"></div>
	    </div>
   	</div>
{% endblock %}