{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
   	<div class="content">
   		<div class="content_content nb_elmt_three bst_eco_acteur">
			<h4>Eco-acteurs</h4>
			<table>
				<tbody>
					<tr class="tr_org">
						<td>Nom</td>
						<td>Email</td>
						<td>Parcours</td>
					</tr>
					<tr>
						<td>
							<img src="{{asset('bundles/gomobilityadmin/images/usr_1.jpg')}}">
							<a href="#">Cody <span>Lambert</span></a>
						</td>
						<td>
							<p>Lambert@gmail.com</p>
						</td>
						<td>
							<a href="#">13 parcours</a>
						</td>
					</tr>
					<tr>
						<td>
							<img src="{{asset('bundles/gomobilityadmin/images/usr_1.jpg')}}"><a href="#">Audrey <span>Caca</span></a>
						</td>
						<td>
							<p>aud@gmail.com</p>
						</td>
						<td>
							<a href="#">2 parcours</a>
						</td>
					</tr>
					<tr>
						<td>
							<img src="{{asset('bundles/gomobilityadmin/images/usr_1.jpg')}}"><a href="#">Saly <span>Pipi</span></a>
						</td>
						<td>
							<p>salypipi@gmail.com</p>
						</td>
						<td>
							<a href="#">6 parcours</a>
						</td>
					</tr>
					<tr>
						<td>
							<img src="{{asset('bundles/gomobilityadmin/images/usr_1.jpg')}}"><a href="#">Colley <span>Saderudo</span></a>
						</td>
						<td>
							<p>Colley@gmail.com</p>
						</td>
						<td>
							<a href="#">30 parcours</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
   </div>
{% endblock %}