{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
   	<div class="content">
   		<div class="content_content nb_elmt_three bst_eco_acteur">
			<h4>Eco-acteurs</h4>
			<table>
				<thead>
					<tr class="tr_org">
						<th>Nom</th>
						<th>Email</th>
						<th>Parcours</th>
					</tr>
                </thead>
                <tbody>
                    {% for experience in experiences %}
    					<tr>
    						<td>
    							<img src="{{asset('bundles/gomobilityadmin/images/usr_1.jpg')}}">
    							<a href="{{path('go_mobility_admin_acteur', {'id':experience.id})}}">{{experience.email}}</a>
    						</td>
    						<td>
    							<p>{{experience.email}}</p>
    						</td>
    						<td>
    							<a href="#">13 parcours</a>
    						</td>
    					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
   </div>
{% endblock %}