{% for comment in comments %}
    <div class="one-comment">
        <h6><span>{{comment.username}}</span> à {{comment.date|date('m/d/Y')}}</h6>
        <p>{{comment.comment}}</p>
    </div>
{% endfor %}