header{
	position: fixed;
	width: 100%;
	nav.row{
		margin-left: 0;
		margin-right: 0;
		background-color: @GmBlue;
		text-align: center;
		img{
			width: 250px; 
		}
		ul{
			margin: 0;
			li{
				margin: 0 20px;
				display: inline-block;
				font-size: 22px;
				line-height: 90px;
				a{
					color: @White;
				}
			}		
		}
		.logo{
			text-align: left;
			padding: 22px 0 0 20px;
		}
		.download_app{
			text-align: right;
			padding: 22px 20px 0 0;
			.btn-primary {
				background-color: @GmLightBlue;
				border:none;
			}
		}
	}
}